.Chat {
  margin-top: 5px;
}
.Chat p {
  margin-top: 10px;
  width: 96%;
  height: auto;
  border-radius: 100px 0 0 100px;
  padding-left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Chat .question {
  padding: 15px;
  background-color: rgb(246, 240, 240);
  font-size: 17px;
  padding-left: 20px;
}

